@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?3bzl91');
  src:  url('fonts/icomoon.eot?3bzl91#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?3bzl91') format('truetype'),
    url('fonts/icomoon.woff?3bzl91') format('woff'),
    url('fonts/icomoon.svg?3bzl91#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-CD_Projekt-mono:before {
  content: "\63";
}
.icon-gog:before {
  content: "\67";
}
.icon-ij-logo_reduced_mono:before {
  content: "\69";
}
.icon-paradox:before {
  content: "\70";
}
