@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    src: local('EB Garamond 12'), url(https://brick.freetls.fastly.net/fonts/ebgaramond/400.woff) format('woff');
}

@font-face {
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 400;
    src: local('EB Garamond 12 Italic'), url(https://brick.freetls.fastly.net/fonts/ebgaramond/400i.woff) format('woff');
}

@font-face {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 200;
    src: local('Clear Sans Light'), url(https://brick.freetls.fastly.net/fonts/clearsans/200.woff) format('woff');
}

@font-face {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Clear Sans'), url(https://brick.freetls.fastly.net/fonts/clearsans/400.woff) format('woff');
}

@font-face {
    font-family: 'Clear Sans';
    font-style: italic;
    font-weight: 400;
    src: local('Clear Sans Italic'), url(https://brick.freetls.fastly.net/fonts/clearsans/400i.woff) format('woff');
}

@font-face {
    font-family: 'Clear Sans';
    font-style: normal;
    font-weight: 700;
    src: local('Clear Sans Bold'), url(https://brick.freetls.fastly.net/fonts/clearsans/700.woff) format('woff');
}

@font-face {
    font-family: 'Clear Sans';
    font-style: italic;
    font-weight: 700;
    src: local('Clear Sans BoldItalic'), url(https://brick.freetls.fastly.net/fonts/clearsans/700i.woff) format('woff');
}
