#mainGrid {
    grid-auto-flow: dense;  
}

.elemIcon { 
    transition: filter 0.5s ease;
    filter: drop-shadow(0px 0px 6px var(--primary-color) );
    transition: color 0.5s ease, filter 0.5s ease;
}

.elem .fab {
    font-size: 52px;
    line-height: .9;
}

/* shots */
.elemShot {
    color: var(--background-color);
    background-color: lightgray;
    background-size: cover;
    padding: 12px;
    transition: color 0.5s ease, filter 0.5s ease;
    filter: drop-shadow(0px 0px 6px var(--primary-color) )
}

.elemIcon:visited,
.elemShot:visited {
    filter: drop-shadow(0px 0px 6px var(--hilight-color) )
    /* everything indicates this sould be working */
}

.group:hover .elemIcon,
.group:hover .elemShot {
    filter: drop-shadow(0px 0px 6px var(--hilight-color) )
}

.elemIcon:hover,
.elemShot:hover {
    filter: drop-shadow(0px 0px 12PX var(--hilight-color) ) !important
}

#cara {
    grid-column: span 4;
    grid-row: span 4;

    background-image: url(img/cara.png);
    background-size: 100% 100%;
}

#dragonAge {
    grid-column: span 5;
    grid-row: span 2;

    background-image: url(img/shotRDAF.jpg)
}

#carbonMade {
    grid-column: span 3;
    grid-row: span 4;

    background-image: url(img/shotCarbonmade.png)
}
/* /shots */

/* groups */
.group {
    font-family: 'Clear Sans', sans-serif;
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(auto-fit, 45px); 
    grid-auto-rows: 45px;    
    justify-content: center;
    
    border-top: 2px var(--primary-color) solid;
    border-radius: 2px 2px 2px 2px;
    transition: border-top 0.5s ease;
    
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6c59a9+0,392579+100&0.3+0,0.3+15,0.1+30,0+100 */
    background: -moz-linear-gradient(top,  rgba(108,89,169,0.3) 0%, rgba(100,81,162,0.3) 15px, rgba(92,73,155,0.1) 50px, rgba(57,37,121,0) 100px); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(108,89,169,0.3) 0px,rgba(100,81,162,0.3) 15px,rgba(92,73,155,0.1) 50px,rgba(57,37,121,0) 100px); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(108,89,169,0.3) 0px,rgba(100,81,162,0.3) 15px,rgba(92,73,155,0.1) 50px,rgba(57,37,121,0) 100px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d6c59a9', endColorstr='#00392579',GradientType=0 ); /* IE6-9 */

}

.groupLabel {
    color: var(--primary-color);
    font-size: 14px;
    transition: color 0.5s ease;
}

.group:hover {
    border-top: 2px var(--hilight-color) solid;
        
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#5cc45c+0,1f8d1f+100&0.3+0,0.3+15,0.1+30,0+100 */
    background: -moz-linear-gradient(top,  rgba(92,196,92,0.3) 0px, rgba(83,188,83,0.3) 15px, rgba(74,180,74,0.1) 50px, rgba(31,141,31,0) 100px); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(92,196,92,0.3) 0px,rgba(83,188,83,0.3) 15px,rgba(74,180,74,0.1) 50px,rgba(31,141,31,0) 100px); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(92,196,92,0.3) 0px,rgba(83,188,83,0.3) 15px,rgba(74,180,74,0.1) 50px,rgba(31,141,31,0) 100px); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4d5cc45c', endColorstr='#001f8d1f',GradientType=0 ); /* IE6-9 */

}

.group:hover .groupLabel {
    color: var(--hilight-color)
}


#jobs {
    grid-column: span 2;
    grid-row: span 2;
}

#jobsLabel {
    grid-column: span 2;
}

#arts {  
    grid-column: span 4;
    grid-row: span 6;
}

#artsLabel {
    grid-column: span 4;
}

@media (min-width: 500px) {
    #arts {  
        grid-column: span 4;
        grid-row: span 6;
    }
    
    #artsLabel {
        grid-column: span 4;
    }
}

#forums {
    grid-column: span 5;
    grid-row: span 3;
}

#forumsLabel {
    grid-column: span 5;
}

#repos, #code {
    grid-column: span 2;
    grid-row: span 2;
}

#reposLabel, #codeLabel {
    grid-column: span 2;
}

#shops, #social {
    grid-column: span 3;
    grid-row: span 2;
}

#shopsLabel, #socialLabel {
    grid-column: span 3;
}

/* /groups */


/* Icons */
.elemIcon {
    color: gray; /* for IE*/
    color: #303030;
    justify-self: center;
    transition: filter 0.5s ease;
    border-radius: 20px;
}

#twitter {
    color: #00aced;
}

#tumblr, #cohost {
    color: whitesmoke;
}

#pillowfort, #pillowfort>img {
    height: 105%;
    width: 105%;
    border-radius: .4rem;
}

#linkedIn {
    color: #0077B5;
}

#deviantArt {
    color: #05cc46;
}

#steam {
    color: black;
}

#gitlab {
    color: #fc6d26;
}

#github {
    /*color: #333;*/
    color: black;
}

.noFa {
    font-family: 'icomoon';
    font-size: 46px;
}

#paradox {
    color: whitesmoke;
}

#infoJobs {
    color: #167DB7;
}

#gog, #itch {
    color: whitesmoke;
}

#itch>img {
    filter: invert(100%);
    margin: -7px;
}

#cdpr {
    color: red;
}

#codepen {
    color: whitesmoke;
}

.elemIconPng img {
    width: 100%;
    max-width: 45px; /*patch for explorer*/
}

.hidden {
    opacity: 0;
}

#gamestogether, #worldAnvil {
    width: 110%;
    margin-top: -2px;
}

#intro {
    text-align: left;
    font-family: 'Clear Sans', sans-serif;
    font-size: 14px;
    max-height: 100%;
    overflow: auto;

    grid-column: 1 / -1;
    grid-row: span 2;
    
    color: var(--primary-color)
}

#intro i { 
    font-family: EB Garamond, serif;
    font-size: 18px;
}

#intro p {
    margin-top: 2rem;
    text-indent: 2rem;
}

/* /icons */