:root {
    --background-color: #0A0411;
    --primary-color: #4F7C9E;
    --hilight-color: #5CC45C;
    --alt-color: #D7ED6F;
}

body {
    height:100%;
    background-color: var(--background-color);
/*     OLD background
  background-image: radial-gradient(circle closest-side at 60% 55%, 
  black,
  black,
  #4A0902,
  #821800, 
  #D86100,
  #FCD659, 
  #D15C04,
  var(--background-color),
  var(--background-color),
  var(--background-color),
  var(--background-color),
  var(--background-color)
  ); */
    /* OLD background was inspired by the black hole photo and the general apocalypsis aesthetic we seem to be going for this year */
}

.border {
    box-shadow: inset 0px 0px 24px var(--primary-color);
    position: fixed;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    
    background: 
        linear-gradient(10deg, 
            var(--background-color) 40%, 
            rgba(215,237,111,.1) 55%, 
            var(--background-color) 60%, 
            rgba(215,237,111,.05) 65%, 
            var(--background-color) 70%);
}

.page {
    max-width: 1024px;
    margin:auto;
}

p {
    font-variant: discretionary-ligatures;
    max-width: 600px;
    margin:auto;
    line-height: 24px;
}

b {
    font-weight: 700;
    color: var(--hilight-color);
    filter: drop-shadow(0px 00px 24px var(--hilight-color) ) 
}

i {
    font-style: italic;
    font-variant: historical-ligatures;
}

.logo {
    width:100px; /* for IE */
}

h6 {
    font-variant: small-caps;
}

.small-caps {
    font-variant: small-caps;
}

#mainGrid {
    display: grid;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-columns: repeat(auto-fit, 45px); 
    grid-auto-rows: 45px;    
    justify-content: center;
    margin: 25px 20px 72px 20px
}

#intro {
    display: none;
}

nav {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 30px;
    background-color: var(--background-color); 
    color: var(--accent-color);

    filter: drop-shadow(0px 00px 12px var(--primary-color) ); 

    z-index: 4;

    padding-bottom: 20px;

    font-size: 14px;
}

nav ul {
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    display:flex;
    justify-content: space-evenly;
}

.navItem {
    font-family: 'EB Garamond', serif;
    font-variant: small-caps;
    display: inline;
    color: var(--primary-color);
    transition: color 0.5s ease, filter 0.5s ease;
}

.navItem:hover {
    filter: drop-shadow(0px 00px 24px var(--hilight-color) )    
}

nav li.selected>.navItem {
    color: var(--hilight-color);
}

.langChangeA {
    cursor: pointer;
}

/* horizontal */
@media (min-width: 750px) {
    body {
        width: calc(100% - 320px);
    }

    nav {
        width: 300px;
        height: calc(100% - 40px);
        right: 20px;
        top: 20px;
        
        background-color: transparent; 
        color: var(--primary-color);
    }

    nav ul {
        margin-top: 0;
    }

    #intro {
        display: block;
    }

    #mainGrid {
        margin-bottom: 45px;
    }
}

#sign {
    font-family: EB Garamond, serif;
    font-size: 18px;
}

/* spinner */
#load {
    visibility: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    background-color: var(--background-color);
    box-shadow: inset 0px 0px 24px var(--hilight-color);
    
    transition: .5s ease-in;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -30px;
    margin-left: -25px;
    
    width: 70px;
    line-height: 100%;
    width: 50px;
    height: 50px;

    background-color: var(--background-color);
    border: 4px solid #D15C04;
    border-radius: 50%;
    border-top-color: #FCD659;
    border-top-width: 8px;
    animation: spin 14s linear infinite;
    -webkit-animation: spin 14s linear infinite;
    filter: blur(4px) drop-shadow(2px -7px 16px #821800)
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

/* fin spinner */